#jsFunQuote {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: xx-large;
    text-shadow: 2px 2px 5px rgb(32, 32, 32);
}
body {
    background: #4da8fa url("../img/DMPL7931_20.jpg") no-repeat fixed center center;
    background-size: cover;
}


.quotes {
    position: absolute;
    top: 30%;
    margin-top: -10vmax;
    color: white;
    width: 99%;
    text-align: center;
}
#jsAuthor {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    opacity: 0.7;
    text-shadow: 1px 1px 3px #171316;
    min-height: 30px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.title {
    font-size: 20vh;
    font-family: 'Tahoma', sans-serif;
    opacity: 0.3;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: right;
    color: white;
    font-family: 'Tahoma', sans-serif;
    opacity: 0.3;
}